*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(100deg, #6a11cb, #2575fc);
    height: 100vh;
    color: #ffffff;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}

header{
    height: 50px;
    color: white;
    background-color: black;
    text-align: center;
    font-size: x-large;
    padding-top: 10px;
}

header .imgdados{
    height: 25px; width: 25px; align-content: center;
    text-align: center;
}

a{
    height: 50px;
    align-content: center;
    text-align: center;
    color: white;
}
p{ 
    font-size: 25px;
    margin: 10px;
    }

div{
    display: grid;
    border: 4px solid black;
    margin: 10px;
    border-radius: 5px;
    text-align: start;
    height: 100px;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    /*animation: wave-border 10s infinite ;*/
}

@keyframes wave-border{
    0% { border-color: #ff0000; } 
    25% { border-color: #00ff00; } 
    50% { border-color: #0000ff; } 
    75% { border-color: #ffff00; } 
    100% { border-color: #ff00ff; } 
}


